NODE_ENV=production

GEMINI_API_KEYS=AIza,AIzaSy

PROXY_AUTH_TOKEN=

OPENAI_API_KEY=
OPENAI_BASE_URL=

GITHUB_ACCESS_TOKEN=github_pat
GITHUB_REPOSITORY=OWNER/REPO

WEBHOOK_RECEIVE_URL=https://
WEBHOOK_SECRET_TOKEN=dZAV5

TELEGRAM_BOT_TOKEN=123:AAHH
TELEGRAM_BOT_ID=456
TELEGRAM_BOT_USERNAME=bot
TELEGRAM_BOT_OWNER_ID=1000
ALLOWED_USAGE_GROUPS=-100

# 服务器监听配置
SERVER_LISTEN_HOST=0.0.0.0
SERVER_LISTEN_PORT=39001
SERVER_LOG_LEVEL=info
