# .env.example

# 服务器监听配置
SERVER_LISTEN_HOST=0.0.0.0
SERVER_LISTEN_PORT=39001
SERVER_LOGGER_LEVEL=info

# Google Gemini API 配置
GEMINI_MODEL_NAME=gemini-2.5-flash
MAX_API_CALL_ROUNDS=12

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

SCHEDULER_API_UEL=
SCHEDULER_API_TOKEN=

DURABLE_RESOURCE_NAMESPACE_ID=
SYSTEM_PROMPT_KEY_NAME=system_prompt
GEMINI_API_KEYS_KEY_NAME=gemini_api_keys
START_REPLY_TEXT_KEY_NAME=start_reply_text
NEW_MEMBER_WELCOME_TEXT_KEY_NAME=new_member_welcome_text

RATE_LIMIT_NAMESPACE_ID=
REQUEST_INTERVAL_SECOND=30

CHAT_CONTEXT_NAMESPACE_ID=
CONTEXT_EXPIRATION_DAY=7
MAX_CONTEXT_LENGTH=8

GITHUB_ACCESS_TOKEN=

# Telegram Bot API 配置
WEBHOOK_SECRET_TOKEN=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_ADMIN_ID=
ALLOWED_USAGE_GROUPS=
