# .env.example

NODE_ENV=production

ENABLE_PROXY=false # or 'true'

# 服务器监听配置
SERVER_LISTEN_HOST=0.0.0.0
SERVER_LISTEN_PORT=39001
SERVER_LOGGER_LEVEL=info # or 'trace', 'debug', 'info', 'warn', 'error', 'fatal'

# Google Gemini API 配置
ENABLE_KEY_ROTATION=false # or 'true'
GEMINI_API_BASE_URL=https://generativelanguage.googleapis.com
LOCAL_PROXY_BASE_URL=http://127.0.0.1:39001/gemini
GEMINI_API_KEYS=key1,key2

# Google Gemini 模型配置
GEMINI_MODEL_NAME=gemini-flash-latest
MODEL_CONFIG_TEMPERATURE=0.2

MAX_API_CALL_ROUNDS=12
REQUEST_INTERVAL_SECOND=10

CONTEXT_EXPIRATION_DAY=7
MAX_CONTEXT_LENGTH=8

GITHUB_ACCESS_TOKEN=

# Telegram Bot API 配置
WEBHOOK_RECEIVE_URL=
WEBHOOK_SECRET_TOKEN=
TELEGRAM_BOT_TOKEN=

TELEGRAM_BOT_USERNAME=bot_username
TELEGRAM_BOT_ADMIN_ID=
ALLOWED_USAGE_GROUPS=group1,group2
